body, html {
    padding: 0;
    margin: 0;
    color: lightgray;
}

/* results container (mainly for background purpose) */
#result {
    background: url('https://e0.pxfuel.com/wallpapers/313/593/desktop-wallpaper-sunrise-in-space-space.jpg');
    background-repeat:no-repeat ;
    background-position: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

/* for responsiveness */

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
     width: 65%;
     box-shadow: 0 0 25px 3px rgb(35, 35, 35);
     height: 450px;
    position: relative;
    top: 5%;
    overflow: scroll;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.275);
}

/* two containers : one will contain image and the other will contain details */
/* first container that will contain image */
.superhero-image{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
}

.superhero-image img {
    height:90% ;
    width: 100%;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.225);
    border-radius: 5px;
}

/* second container that will contain details */
.superhero-details{
   width: 60%;
   height: 90%;
   overflow: scroll;
}

.superhero-name, .comics, .events, .stories, .series {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
}

.name, .comic-heading, .series-heading, .stories-heading, .events-heading, .details-heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 10px;
}

/* --------------- */

#favorite{
    width:70% ;
    margin: auto;
    height: 35px;
    border: 3px solid lightgray;
    background-color: #00000000;
    color: lightgray;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    border-radius: 5px;
    bottom: 7%;
}

#favorite:hover{
    background-color: lightgray;
    cursor: pointer;
    color: rgb(35, 35, 35);
}