@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Satisfy&display=swap');

body{
  margin: 0;
  padding: 0;
  backdrop-filter: blur(10px);
}  

.heading, .heading-h3, .superhero-name {
  cursor: pointer;
}

#superheroes-container{
  display: flex;
  flex-direction: column;
  background:url('https://wallpapers.com/images/hd/4k-marvel-digital-cartoon-t9z4pnuivn6488jq.jpg');
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.heading{
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.297);
  font-size: 4rem;
  color: rgb(1, 116, 192);
  font-family: 'Cute Font', sans-serif;
}

.rocket-emoji {
  font-size: 2.5rem;
  margin: 0 10px;
}

#search-hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-name{
  height: 35px;
  font-size: 1rem;
  width: 30%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  color: rgb(4, 103, 225);
  padding-left: 15px;
  box-shadow: 0 0 10px rgba(0, 145, 255, 0.271);
}

.search-hero-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  border: none;
  width: 10%;
  height: 37px;
  background-color: rgb(7, 124, 207);
  border-left: none;
  color: white;
  padding-right: 15px;
  font-size: 0.9rem;
  font-weight: 600;
}

.search-hero-btn:hover{
  box-shadow: inset 0 0 8px 2px rgb(0, 92, 128);
  border: 1px solid rgb(0, 92, 128);
}

#favorites{
  position: absolute;
  top: 20px;
  right: 10px;
}

#fav-button {
  background-color: #00000000;
  border:2px solid white ;
  padding:5px 8px;
  color: white;
  font-size: 0.9rem;
  box-sizing: border-box;
  font-weight: 600;
}

#fav-button:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(0, 67, 154);
}

.favorite-content{
  background-color: whitesmoke;
  position: absolute;
  border-radius: 10px;
  right: 90px;
  top: 20px;
  overflow: scroll;
  background-color: white;
  width: 200px;
  color: rgb(2, 107, 187);
  padding: 0 10px;
  height: 250px;
  max-height: 250px;
}

.fav-info-para {
  display: block;
  font-weight: 600;
  text-align: center;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  padding:0 5px;
  align-items: center;
  border-bottom: 2px solid skyblue;
}

.remove-fav-item {
  height: 25px;
  background-color: white;
  color: rgb(0, 128, 192);
  border: 2px solid rgb(0, 128, 192);
  border-radius: 7px;
  font-weight: 600;
}

.remove-fav-item:hover{
  background-color: rgb(0, 128, 192);
  color: white;
}

.heading-h3 {
  margin-top: 50px;
   font-size: 1.5rem;
   margin-bottom: 20px;
  color: rgb(1, 116, 192);
  /* font-family: 'Cute Font', sans-serif; */
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.all-superheroes {
  box-shadow: 0 0 15px rgb(0, 106, 167);
  width: 70%;
  border-radius: 10px;
  height: 40vh;
  padding: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.891);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: scroll;

}

.superhero {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 2px solid black;
}

.superhero-name {
  color: rgb(0, 101, 177);
  font-size: 1rem;
  font-weight: 600;
}

#results {
  height: 40vh;
}

.hero-img{
  height: 150px;
  width: 150px;
  display: inline;
}

/* favorites */
.favorite-content {
  display: none;
}
