@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
  margin: 0;
  padding: 0;
  background:url('https://images3.alphacoders.com/563/563119.jpg');
  background-size: cover;
  background-position: center;
}  

.heading, .heading-h3, .superhero-name {
  cursor: pointer;
}

/* --------superhero container----------- */

#superheroes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.418);
  box-shadow: 0 0 15px rgb(91, 91, 91);
  backdrop-filter: blur(2px);
  justify-content: center;
  height: 60vh;
  width: 65vw;
  border-radius: 10px;
  margin: 55px auto;
  padding: 40px;
  overflow: scroll;
}

/* main heading */

.heading{
  margin: 0;
  font-size: 3.5rem;
  color: lightgray;
  font-family: 'Poppins', sans-serif;
}

.rocket-emoji {
  font-size: 2.5rem;
  margin: 0 10px;
}

#search-hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* search bar */

#search-hero-container input{
  height: 35px;
  font-size: 1rem;
  width: 40%;
  background-color: #00000000;
  border: none;
  padding-left: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.344);
  color: lightgray;
}

#search-hero-container input:focus {
  outline: none;
}

/* search icon */

i {
  cursor: pointer;
  border: none;
  background-color: #00000000;
  color: lightgray;
  position: relative;
  left: 15px;
  font-size: 0.9rem;
  font-weight: 600;
}

#hero-name {
  /* opacity:0; */
}

/*------------- favorites list------------ */

#favorites{
  text-align: right;
  margin: 20px;
}

#fav-button {
  background-color: #00000000;
  border:2px solid lightgray ;
  padding:5px 8px;
  color: lightgray;
  font-size: 0.9rem;
  box-sizing: border-box;
  font-weight: 600;
}

#fav-button:hover{
  cursor: pointer;
  background-color: lightgray;
  color: rgb(53, 53, 53);
}

.favorite-content{
  background-color: lightgray;
  display: none;
  position: absolute;
  border-radius: 10px;
  right: 90px;
  top: 20px;
  overflow: scroll;
  background-color: lightgray;
  width: 200px;
  color: rgb(2, 107, 187);
  padding: 0 10px;
  height: auto;
  max-height: 250px;
}

.fav-info-para {
  display: block;
  font-weight: 600;
  text-align: center;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  padding:0 5px;
  align-items: center;
  border-bottom: 2px solid skyblue;
}

.remove-fav-item {
  height: 25px;
  background-color: white;
  color: rgb(0, 128, 192);
  border: 2px solid rgb(0, 128, 192);
  border-radius: 7px;
  font-weight: 600;
}

.remove-fav-item:hover{
  background-color: rgb(0, 128, 192);
  color: white;
}

/* -------all superhero names container -----------*/

.heading-h3 {
  margin-top: 50px;
   font-size: 1.5rem;
   margin-bottom: 20px;
   color: lightgray;
  font-family: 'Poppins', sans-serif;
}

.all-superheroes {
  width: 70%;
  border-radius: 10px;
  height: 40vh;
  padding: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.128);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: scroll;
}

/* one superhero name box */

.superhero {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.superhero-name {
  color: lightgray;
  font-size: 1rem;
  font-weight: 600;
}